*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 90%;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.flex-align-center{
    display: flex;
    align-items: center;
}

.flex-align-end{
    display: flex;
    align-items: flex-end;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

/* HEADER */
header{
    width: 100%;
    background-color: #0084fd;
    height: 2.5rem;
    margin-bottom: 1.5rem;
}

div.logo{
    width: 50%;
    justify-content: flex-start;
    align-items: center;
}

div.logo img{
    width: 3rem;
}

div.nav{
    width: 50%;
    text-align: end;
}

div.nav ul{
    display: none;
}

div.nav ul li{
    list-style-type: none;
    display: inline;
    font-size: .8rem;
    color: white;
    margin: .3rem;
}

.button{
    color: black;
    background-color: white;
    border-radius: 33rem;
    border: none;
    padding: .4rem .5rem;
    font-size: .7rem;
}

div.nav i{
    color: white;
}
/* FINE HEADER */

/* MAIN */
div.card{
    background-color: #b5ddff;
    width: 100%;
    margin-bottom: 1rem;
    border-radius: .8rem;
    padding: 1.5rem 2rem 0 2rem;
    flex-direction: column;
}

div.card figure{
    align-items: flex-end;
}

div.card figure img{
    width: 100%;
}

div.card div.text-card h2{
    color: #0084fd;
}

div.card div.text-card p{
    color: gray;
    margin: 1.5rem 0;
}

div.card div.text-card i{
    margin-right: .5rem;
}

div.cards>.card:nth-child(2){
    text-align: center;
}
div.cards>.card:nth-child(3){
    text-align: center;
}
div.cards>.card:nth-child(4){
    text-align: center;
}
div.cards>.card:nth-child(5){
    text-align: center;
}

div.card div.text-card button{
    margin-bottom: 2rem;
}

#blue-button{
    color: white;
    background-color: #0084fd;
    padding: .6rem 3rem;
    font-size: .9rem;
}

div.card>h2{
    color: #0084fd;
    text-align: center;
}

div.card>p{
    color: gray;
    margin: 1.5rem 0;
    text-align: center;
    line-height: 1.7rem;
}

div.card>i{
    color: #0084fd;
    margin-bottom: 1.5rem;
}

.violet{
    background-color: #9792e4;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 1rem 0;
}

div.card-violet{
    width: 100%;
}

div.card-violet h1{
    color: white;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

div.card-violet p{
    color: white;
    line-height: 1.4rem;
}

div.card-violet img{
    width: 100%;
}

div.square-white{
    width: 90%;
    margin: 0 auto;
    background-color: white;
    border-radius: 2rem;
    margin-top: 2rem;
    padding: 1rem;
    text-align: center;
}

div.square-white h1{
    color: black;
    text-align: center;
}

div.square-white p{
    color: black;
    text-align: center;
}

#violet-button{
    color: black;
    background-color: #9792e4;
    padding: 1rem 1.2rem;
    margin-top: 1rem;
}

div.testimonial-text{
    text-align: center;
    margin-bottom: 1rem;
    flex-direction: column;
}

div.testimonial-text p{
    font-size: .8rem;
    line-height: 1.2rem;
}

div.testimonial-text h1{
    color: #9792e4;
    margin: .7rem 0;
}

div.testimonial{
    background-color: #9792e4;
    text-align: center;
    margin-bottom: 1rem;
    flex-direction: column;
    padding: 1rem;
    border-radius: 2rem;
    color: white;
    align-items: center;
}

div.testimonial p{
    margin-top: .8rem;
}

div.img-testimonial img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

div.img-testimonial figure{
    border-radius: 50%;
    overflow: auto;
    width: 149px;
    height: 149px;
}

h2.benefit{
    text-align: center;
    color: white;
    margin-bottom: 1rem;
}

div.benefit{
    width: 100%;
    background-color: white;
    margin-top: 1rem;
    padding: 1.5rem;
    border-radius: 2rem;
}

div.benefit p{
    margin: 1rem 0;
    color: gray;
}

div.benefit h1{
    color: #9792e4;
}

div.benefit h3{
    margin: 1rem 0;
    color: #9792e4;
}

#violet-button{
    background-color: #9792e4;
    color: white;
    width: 70%;
    font-size: 1rem;
    padding: .6rem 0;
}

div.benefit-row{
    flex-direction: column;
}

div.about-us{
    flex-direction: column;
}

div.about-us-text{
    width: 100%;
    padding: 1rem;
}

div.about-us-img h3{
    color: #9792e4;
    margin: 1rem 0;
}

div.about-us-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#button-linkedin{
    background-color: #9792e4;
    color: white;
}

div.about-us-img figure{
    border-radius: 50%;
    overflow: auto;
    width: 149px;
    height: 149px;
}

div.about-us-text h1{
    color: #9792e4;
    margin-top: 1.5rem;
}

div.about-us-text p{
    margin: 1rem 0;
    line-height: 1.5rem;
}

div.about-us-img{
    width: 100%;
    padding: 1rem;
}

.violet-free{
    background-color: #9792e4;
    margin-top: 1.5rem;
    padding: 1rem 0;
}

div.free{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

div.free h1{
    color: white;
    font-size: 1rem;
}

div.free h2{
    color: #fdc15f;
    font-size: 2rem;
}

div.free p{
    font-size: .9rem;
    color: white;
    margin: 1rem 0;
}

div.free p:first-child{
    font-size: .55rem;
}
#button-started{
    color: #9792e4;
    background-color: white;
    padding: .7rem 2.7rem;
}
/* FINE MAIN */
/* FOOTER */
div.black{
    background-color: #333333;
    width: 100%;
    padding: 1rem 0;
}

div.more{
    background-color: aquamarine;
    width: 90%;
    margin: 0 auto;
    height: 60px;
}





/*! RESPONSIVE */
/* TABLET */
@media screen and (min-width: 768px){
    .container{
        width: 760px;
        margin: 0 auto;
    }
    div.cards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    div.card{
        width: calc(100% / 3);
    }
    div.cards>.card:first-child{
        width: calc(((100% / 3) * 2) - .5rem);
        margin-right: .5rem;
    }
    div.cards>.card:nth-child(2){
        width: calc((100% / 3) - .5rem);
        margin-left: .5rem;
    }
    div.cards>.card:nth-child(3){
        width: calc((100% / 3) - .5rem);
        margin-right: .5rem;
    }
    div.cards>.card:nth-child(4){
        width: calc((100% / 3) - 1rem);
        margin-left: .5rem;
        margin-right: .5rem;
    }
    div.cards>.card:nth-child(5){
        width: calc((100% / 3) - .5rem);
        margin-left: .5rem;
    }
    div.testimonial{
        flex-direction: row;
        align-items: center;
    }
    div.benefit{
        width: calc(100% / 2);
    }
    div.benefit:nth-child(1){
        width: calc((100% / 2) - 1rem);
        margin-right: 1rem;
    }
    div.benefit:nth-child(3){
        width: calc((100% / 2) - 1rem);
        margin-right: 1rem;
    }
    div.benefit:nth-child(5){
        width: calc((100% / 2) - 1rem);
        margin-right: 1rem;
    }
    div.benefit-row{
        flex-direction: row;
        flex-wrap: wrap;
    }
    div.about-us{
        flex-direction: row;
    }
    div.about-us-text{
        width: 75%;
        padding: 1rem;
    }
    div.about-us-img{
        width: 25%;
        padding: 1rem;
    }
    div.free{
        width: 50%;
        margin: 0 auto;
    }
    div.more{
        background-color: aquamarine;
        width: 50%;
        margin: 0 auto;
        height: 60px;
    }
    div.card{
        flex-direction: row;
    }
}
/* DESKTOP */
@media screen and (min-width: 992px){
    .container{
        width: 990px;
        margin: 0 auto;
    }
    div.cards-violet{
        display: flex;
        flex-direction: row;
    }
    div.card-violet{
        width: 50%;
    }
    div.benefit{
        width: calc(100% / 3);
    }
    div.benefit:nth-child(1){
        width: calc(100% / 3);
        margin: 0;
    }
    div.benefit:nth-child(3){
        width: calc(100% / 3);
        margin: 0;
    }
    div.benefit:nth-child(2){
        width: calc((100% / 3) - 2rem);
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 0;
    }
    div.benefit:nth-child(5){
        width: calc((100% / 3) - 2rem);
        margin-left: 1rem;
        margin-right: 1rem;
    }
    div.nav ul{
        display: inline;
    }
    div.nav i{
        display: none;
    }
}
