*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 90%;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.flex-align-center{
    display: flex;
    align-items: center;
}

.flex-align-end{
    display: flex;
    align-items: flex-end;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

/* HEADER */
header{
    width: 100%;
    background-color: #0084fd;
    height: 2.5rem;
    margin-bottom: 1.5rem;
}

div.logo{
    width: 50%;
    justify-content: flex-start;
    align-items: center;
}

div.logo img{
    width: 3rem;
}

div.nav{
    width: 50%;
    text-align: end;
}

div.nav ul{
    display: none;
}

div.nav ul li{
    list-style-type: none;
    display: inline;
    font-size: .8rem;
    color: white;
    margin: .3rem;
}

#button{
    color: black;
    background-color: white;
    border-radius: 33rem;
    border: none;
    padding: .4rem .5rem;
    font-size: .7rem;
}

div.nav i{
    color: white;
}
/* FINE HEADER */

/* MAIN */
div.card{
    background-color: #b5ddff;
    height: 60px;
    width: 100%
}

.violet{
    background-color: #9792e4;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 1rem 0;
}

div.card-violet{
    background-color: #b5ddff;
    height: 60px;
    width: 100%
}

div.card-violet{
    justify-content: center;
}

div.testimonial{
    background-color: #9792e4;
    text-align: center;
    margin-bottom: 1rem;
    flex-direction: column;
}

h3.benefit{
    text-align: center;
}

div.benefit{
    height: 55px;
    width: 100%;
    background-color: white;
    margin-top: 1rem;
}

div.benefit-row{
    flex-direction: column;
}

div.about-us{
    flex-direction: column;
}

div.about-us-text{
    background-color: antiquewhite;
    width: 100%;
    height: 100px;
}

div.about-us-img{
    background-color: rgb(232, 159, 62);
    width: 100%;
    height: 100px;
}

.violet-free{
    background-color: #9792e4;
    margin-top: 1.5rem;
    padding: 1rem 0;
}

div.free{
    background-color: aquamarine;
    width: 90%;
    margin: 0 auto;
    height: 60px;
}
/* FINE MAIN */
/* FOOTER */
div.black{
    background-color: #333333;
    width: 100%;
    padding: 1rem 0;
}

div.more{
    background-color: aquamarine;
    width: 90%;
    margin: 0 auto;
    height: 60px;
}





/*! RESPONSIVE */
/* TABLET */
@media screen and (min-width: 768px){
    div.cards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    div.card{
        width: calc(100% / 3);
    }
    div.cards>.card:first-child{
        width: calc((100% / 3) * 2);
    }
    div.testimonial{
        flex-direction: row;
        align-items: center;
    }
    div.benefit{
        height: 55px;
        width: calc(100% / 2);
    }
    div.benefit-row{
        flex-direction: row;
        flex-wrap: wrap;
    }
    div.about-us{
        flex-direction: row;
    }
    div.free{
        background-color: aquamarine;
        width: 50%;
        margin: 0 auto;
        height: 60px;
    }
    div.more{
        background-color: aquamarine;
        width: 50%;
        margin: 0 auto;
        height: 60px;
    }
}
/* DESKTOP */
@media screen and (min-width: 992px){
    .container{
        width: 70%;
        margin: 0 auto;
    }
    div.cards-violet{
        display: flex;
        flex-direction: row;
    }
    div.card-violet{
        width: 50%;
    }
    div.benefit{
        height: 55px;
        width: calc(100% / 3);
    }
    div.nav ul{
        display: inline;
    }
    div.nav i{
        display: none;
    }
}
